<!-- BEGIN main -->
<div id="main">
	<h2>Report Settings</h2>
	
	<form action="report">

			<div class="first input">
				<p>Start Date:</p>
				<input type="text" class="text" size="48"/>
			</div>
			<div class="input">
				<p>End Date:</p>
				<input type="password" class="text" size="48"/>
			</div>

			<div class="input">
				<input type="submit" value="Generate Report" class="button"/>
				<input type="reset" value="Reset" class="button"/>
			</div>
			</form>
</div>
<!-- END main -->

<!-- BEGIN sidebar -->
<div id="sidebar"><div class="buffer">

	<h2>Current Reports</h2>

	<ul>
	<li><a href="#">This Week</a></li>
	<li><a href="#">This Month</a></li>
	<li><a href="#">This Billing Cycle</a></li>
	</ul>

	<h2>Previous Reports</h2>

	<ul>
	<li><a href="#">Previous Week</a></li>
	<li><a href="#">Previous Month</a></li>
	<li><a href="#">Previous Billing Cycle</a></li>
	</ul>
	
	<h2>Misc</h2>
	<ul>

	<li><a href="#">Calls by number</a></li>
	<li><a href="#">Day of the week trend</a></li>
	</ul>
</div></div>
<!-- END sidebar -->
