	<!-- BEGIN body -->
	<div id="body">
	
		
		
					<!-- BEGIN main -->
		<div id="main">
		
			<h1>H1: Dashboard</h1>
		
			<!-- begin paragraphs -->
			<p><a href="#">Lorem ipsum dolor</a> sit amet, consectetur adipiscing elit. Morbi ut est vitae felis consectetur malesuada. Donec enim. Donec eget tortor. Sed a tortor eget nisl cursus adipiscing.</p>
			<p>Sed vitae nunc non lectus faucibus imperdiet. Duis molestie, ante ac posuere facilisis, enim diam laoreet libero, viverra cursus magna nibh nec velit.</p>
			<!-- end paragraphs -->
			
			<h2>H2: Sample Form</h2>
			
			<form action="">
			<!-- begin text with positive message -->
			<div class="first input">
				<p>Sample text input</p>
				<input size="48" class="text" type="text" value="The quick brown fox jumps over the lazy dog." />
			</div>
			<!-- end text with positive message -->
			<!-- begin text with negative message -->
			<div class="input">
				<p>Another sample text input</p>
				<input size="48" class="text" type="text" value="The quick brown fox jumps over the lazy dog." />
			</div>
			<!-- end text with negative message -->
			<!-- begin checkboxes and radio buttons -->
			<div class="input">
				<p>Some checkboxes and radio buttons</p>
				<p>
				<input type="checkbox" checked="checked" /><label>This one is checked</label>
				<input type="checkbox" /><label>This one is not</label>
				<input type="radio" /><label>This one is ticked</label>
				<input type="radio" checked="checked" /><label>This one is not</label>
				</p>
			</div>
			<!-- end checkboxes and radio buttons -->
			<!-- begin textarea -->
			<div class="input">
				<p>Sample text area</p>
				<textarea cols="95" rows="2">The quick brown fox jumps over the lazy dog.</textarea>
			</div>
			<!-- end textarea -->
			<!-- begin buttons -->
			<div class="input">
				<input class="button" type="submit" value="Submit" />
				<input class="button" type="reset" value="Reset" />
			</div>
			<!-- end buttons -->
			</form>
			
			<h3>H3: Sample Table</h3>
			
			<!-- begin table -->
			<table width="100%">
			<!-- begin table headers -->
			<tr>
				<th>Sample Table Header</th>
				<th>Sample Table Header</th>
				<th>Sample Table Header</th>
			</tr>
			<!-- end table headers -->
			<!-- begin odd row -->
			<tr class="odd">
				<td>Sample text inside a cell</td>
				<td>Sample text inside a cell</td>
				<td>Sample text inside a cell</td>
			</tr>
			<!-- end odd row -->
			<!-- begin even row -->
			<tr class="even">
				<td>Sample text inside a cell</td>
				<td>Sample text inside a cell</td>
				<td>Sample text inside a cell</td>
			</tr>
			<!-- end even row -->
			</table>
			<!-- end table -->
			
			<h4>H4: Sample Unordered Lists</h4>
			
			<!-- begin unordered list -->
			<ul>
			<li>Ut placerat</li>
			<li>velit vel accumsan sollicitudin</li>
			<li>neque sem malesuada metus</li>
			<li>a bibendum nunc metus id purus.</li>
			</ul>
			<!-- end unordered list -->
			
			<h5>H5: Sample Ordered Lists</h5>
			
			<!-- begin ordered list -->
			<ol>
			<li>In imperdiet.</li>
			<li>Nam fermentum eros quis neque ultrices rutrum.</li>
			<li>Pellentesque erat.</li>
			<li>Quisque sed mi a ligula ornare tristique.</li>
			</ol>
			<!-- end ordered list -->
			
			<h6>H6: Sample Blockquote</h6>
			
			<!-- begin blockquote -->
			<blockquote><a href="#">Lorem ipsum dolor</a> sit amet, consectetur adipiscing elit. Morbi ut est vitae felis consectetur malesuada. Donec enim. Donec eget tortor. Sed a tortor eget nisl cursus adipiscing.</blockquote>
			<!-- end blockquote -->
		
		</div>
		<!-- END main -->
		
		<!-- BEGIN sidebar -->
		<div id="sidebar"><div class="buffer">
		
			<!-- begin products -->
			<h2>Products</h2>
			<ul>
			<li><a href="#">Lorem ipsum dolor</a></li>
			<li><a href="#">Sit amet consectetur</a></li>
			<li><a href="#">Adipiscing elit</a></li>
			<li><a href="#">Praesent lacinia laoreet</a></li>
			</ul>
			<!-- end products -->
			
			<!-- begin services -->
			<h2>Services</h2>
			<ul>
			<li><a href="#">Lorem ipsum dolor</a></li>
			<li><a href="#">Sit amet consectetur</a></li>
			<li><a href="#">Adipiscing elit</a></li>
			<li><a href="#">Praesent lacinia laoreet</a></li>
			</ul>
			<!-- end services -->
			
			<!-- begin quick links -->
			<h2>Quick Links</h2>
			<ul>
			<li><a href="#">Terms and Conditions</a></li>
			<li><a href="#">Privacy Policy</a></li>
			<li><a href="#">Frequently Asked Questions</a></li>
			<li><a href="#">Become an Affiliate</a></li>
			</ul>
			<!-- end quick links -->
		
		</div></div>
		<!-- END sidebar -->
					

			<div class="break"></div>
		
		</div>
		<!-- END content -->
	
	</div>
	<!-- END body -->