<!-- BEGIN main -->
<div id="main">
	<h2>Customer Feedback and Service Issues</h2>

<p>We appreciate any comments or suggestions you have. If you are reporting a service issue, please give us as much detail as possible so that we can troubleshoot the problem.</p>
	<form action="">
			<div class="first input">
				<p>Your Name:</p>
				<input type="text" class="text" size="48"/>
			</div>
			<div class="input">
				<p>Email:</p>
				<input type="text" class="text" size="48"/>
			</div>
			<div class="input">
				<p>Account Number:</p>
				<input type="text" class="text" size="48"/>
			</div>
			<div class="input">
				<p>What day and time did you call? (include time zone):</p>
				<input type="text" class="text" size="48"/>
			</div>
			<div class="input">
				<p>What country did you call?:</p>
				<input type="text" class="text" size="48"/>
			</div>
			<div class="input">
				<p>What international number did you enter?</p>
				<input type="text" class="text" size="48"/>
			</div>
			<div class="input">
				<p>Phone number you called from (include country code):</p>
				<input type="text" class="text" size="48"/>
			</div>
			<div class="input">
				<p>If applicable, which of our access numbers did you dial?</p>
				<input type="text" class="text" size="48"/>
			</div>
			<div class="input">
				<p>What happened?</p>
				<input type="text" class="text" size="48"/>
			</div>
			<div class="input">
				<p>Please describe your issue: (include your account number if applicable)</p>
				<textarea rows="2" cols="95"></textarea>
			</div>
			<div class="input">
				<input type="submit" value="Submit" class="button"/>
			</div>
			</form>
</div>
<!-- END main -->

<!-- BEGIN sidebar -->
<div id="sidebar"><div class="buffer">

	<!-- begin products -->
	<h2>Products</h2>
	<ul>
	<li><a href="#">Lorem ipsum dolor</a></li>
	<li><a href="#">Sit amet consectetur</a></li>
	<li><a href="#">Adipiscing elit</a></li>
	<li><a href="#">Praesent lacinia laoreet</a></li>
	</ul>
	<!-- end products -->
	
	<!-- begin services -->
	<h2>Services</h2>
	<ul>
	<li><a href="#">Lorem ipsum dolor</a></li>
	<li><a href="#">Sit amet consectetur</a></li>
	<li><a href="#">Adipiscing elit</a></li>
	<li><a href="#">Praesent lacinia laoreet</a></li>
	</ul>
	<!-- end services -->
	
	<!-- begin quick links -->
	<h2>Quick Links</h2>
	<ul>
	<li><a href="#">Terms and Conditions</a></li>
	<li><a href="#">Privacy Policy</a></li>
	<li><a href="#">Frequently Asked Questions</a></li>
	<li><a href="#">Become an Affiliate</a></li>
	</ul>
	<!-- end quick links -->

</div></div>
<!-- END sidebar -->			

			<div class="break"></div>
		
		</div>
		<!-- END content -->