<!-- BEGIN main -->
<div id="content">
	
<h2>Frequently Asked Questions</h2>

<h3>How do I make a call?</h3>
<p>After you have purchased a plan, call one of our access numbers (424) 757-1111 or (530) 645-5555. When prompted, dial the number you want to reach in India. When calling India, be sure to include 011 91 (the international code and India's country code) before the number. Our access number is a regular phone number in Northern California.</p>
<h3>How can I contact you?</h3>
<p>Use our contact form for help with your account or to answer any questions you might have. We do not provide telephone support in order to keep our costs and rates low.</p>
<h3>What happens if I go over my monthly minutes?</h3>
<p>You can continue to make calls if you go over your monthly minutes, but those calls will be charged at a rate of 3.9 cents per minute. You will see a separate charge on your statement for additional minute calls.
</p>
<p>
If you are going to need a lot more minutes than the plan you signed up for, we recommend that you upgrade your account. See below for details on how to upgrade.
</p>
<p>
Each account gets a credit limit to make additional calls with. 1000 minute plans have a $15 credit. 2000 and 3000 minute plans have a $30 credit.
</p>
<h3>Why was I billed from AAPAM Technologies instead of India ISD?</h3>
<p>India ISD is a service of AAPAM Technologies, and our billing is handled under the AAPAM Technologies name.</p>
<h3>Why was I charged twice in a month?</h3>
<p>India ISD services have a recurring monthly charge - which means we charge you every month for your monthly service fee for that upcoming month. We also charge for any additional billable calls you have made from the prior month</p>
<h3>Can I change my plan?</h3>
<p>Yes. You can upgrade or downgrade your monthly plan by submitting the contact form.</p>
<p>Please include your account number and the plan you want to change to. If you are upgrading in the middle of your month, you will be charged the difference between your current plan and your new one.</p>
<h3>How do I cancel my account?</h3>
<p>You can cancel by sending an email to cancel@indiaISD.com. Please include your account number.</p>
<p>If you know that you want to cancel your account before it renews again, please email us several days before the renewal date so we can process your request on time. You will still be able to make calls for the remainder of your month. If you would like to suspend your account immediately, login into your account and click on Account Information, then click on Suspend Your Account.</p>
<h3>Why can't I access your service through a local or toll free number?</h3>
<p>In order to keep our plans at rock-bottom rates, we need to keep our costs low. This means that we only offer a few access numbers to our service.</p>
<h3>Do my unused minutes roll over from one month to the next?</h3>
<p>No. Your minutes will not carry over from one month to the next.</p>
</div>

<!-- END main -->
	

			<div class="break"></div>
		
		</div>
		<!-- END content -->
