
	<%= render :partial => 'plans' %>

	<!-- BEGIN content -->
		<div id="content">
	
	


			<!-- begin products -->
			<div class="box end">
			<ul>
			<li>
				<a href="#">No Connection Fees</a>
				<a href="#"><img src="images/content/_thumb2.jpg" alt="Product" /></a>
				<p>No connection fees, No disconnection fees/hang up fees, No maintenance fee, No communication fee, No long talk fee, No weekly fee, No service fee and No customer service access fee.</p>
			</li>
			<li>
				<a href="#">Instant Activation</a>
				<a href="#"><img src="images/content/_thumb3.jpg" alt="Product" /></a>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id nisi. Cras eget mauris sit amet lacus faucibus interdum. Suspendisse ut est. Suspendisse ornare, felis nec porttitor tempus, sapien neque semper urna.</p>
			</li>
			<li>
				<a href="#">Last number redial</a>
				<a href="#"><img src="images/content/_thumb4.jpg" alt="Product" /></a>
				<p>The last number that you called can be redialed by pressing #1.</p>
			</li>
			</ul>
			</div>
			<!-- end products -->
			
			<!-- begin services -->
			<div class="box center">
			<ul>
			<li>
				<a href="#">Pinless Dialing</a>
				<a href="#"><img src="images/content/_thumb5.jpg" alt="Product" /></a>
				<p>You can register up to 5 CLI’s (caller line identification or phone numbers) – a home line, mobile phone or office line – and just dial the access number followed by the destination number to make a call. No PIN is required.</p>
			</li>
			<li>
				<a href="#">15 Speed dial numbers</a>
				<a href="#"><img src="images/content/_thumb6.jpg" alt="Product" /></a>
				<p>If like most, you call the same people on a regular basis, log into My Account and click on Account Settings. Once in the Account Settings section, click on Configure Account and enter the desired numbers for speed dialing. </p>
			</li>
			<li>
				<a href="#">Simultaneous Calling</a>
				<a href="#"><img src="images/content/_thumb7.jpg" alt="Product" /></a>
				<p>Call from multiple phones simultaneously</p>
			</li>
			</ul>
			</div>
			<!-- end services -->
			
			<!-- begin services -->
			<div class="box end">
			<ul>
			<li>
				<a href="#">30 Day Money Back</a>
				<a href="#"><img src="images/content/_thumb8.jpg" alt="Product" /></a>
				<p>If you cancel a paying plan within 30 days of signing up you won't be charged a thing. If you do choose to cancel your account in the future you will never be charged again. You can't make a wrong choice.</p>
			</li>
			<li>
				<a href="#">1 Minute Rounding</a>
				<a href="#"><img src="images/content/_thumb9.jpg" alt="Product" /></a>
				<p>We do not follow any shaddy business tricks. Each and every call is always rounded for one minute. For example if you talk for 3 minutes 59 seconds you will be charged only for 4 minutes.</p>
			</li>
			<li>
				<a href="#">Superior voice quality</a>
				<a href="#"><img src="images/content/_thumba.jpg" alt="Product" /></a>
				<p>Voice quality is clear and demonstrably superior, free of any background noise or echo.</p>
			</li>
			</ul>
			</div>
			<!-- end services -->
			

			<div class="break"></div>
		
		</div>
		<!-- END content -->
	