			<!-- BEGIN main -->
<div id="content">
	<table class="page-intro">
		<tbody>
			<tr>
				<td><h2>Sign up</h2></td>
				<td>
					<p>A variety of plans to fit everybody's needs. You can upgrade, downgrade, or cancel any time.</p>
					<p><strong>All accounts include a 30-day Free Trial.</strong></p>
				</td>
			</tr>
		</tbody>
	</table>

<div class="belt">
	<h4>Pay as you go, no long-term contracts, no sign-up fee, no termination fee, cancel at any time.</h4>
	<p>Don't know where to start? Pick any plan — you can upgrade/downgrade at any time. You can't make the wrong choice.</p>	
</div>

<table width="100%" class="signup">
		<tbody>
			<tr>
			<th>Max</th>
			<th>Premium</th>
			<th>Plus</th>
			<th>Basic</th>
		</tr>
		<tr>
			<td><h2>$57/month</h2></td>
			<td><h2>$38/month</h2></td>
			<td><h2>$19/month</h2></td>
			<td><h2>$11/month</h2></td>
		</tr>
		<tr>
			<td><h3>Top-of-the-line</h3></td>
			<td><h3>For Big families</h3></td>
			<td><h3>Most popular plan</h3></td>
			<td><h3>For individual</h3></td>
		</tr>
		<tr>
			<td><strong>3000</strong> monthly minutes</td>
			<td><strong>2000</strong> monthly minutes</td>
			<td><strong>1000</strong> monthly minutes</td>
			<td><strong>500</strong> monthly minutes</td>
		</tr>
		<tr>
			<td><strong>10</strong> Phones</td>
			<td><strong>5</strong> Phones</td>
			<td><strong>2</strong> Phones</td>
			<td><strong>1</strong> Phone</td>
		</tr>
		<tr>
			<td>Pinless Dialing</td>
			<td>Pinless Dialing</td>
			<td>Pinless Dialing</td>
			<td>Pinless Dialing</td>
		</tr>
		<tr>
			<td>1 Minute Rounding</td>
			<td>1 Minute Rounding</td>
			<td>1 Minute Rounding</td>
			<td>1 Minute Rounding</td>
		</tr>
		<tr>
			<td>No Connection Fees</td>
			<td>No Connection Fees</td>
			<td>No Connection Fees</td>
			<td>No Connection Fees</td>
		</tr>
		<tr>
			<td>30 Day Money Back</td>
			<td>30 Day Money Back</td>
			<td>30 Day Money Back</td>
			<td>30 Day Money Back</td>
		</tr>
		<tr>
			<td>
				<%= link_to "<img width='113' height='45' alt='Sign Up' src='images/btn_signupchart_large.png'/>", new_user_path(@user, :plan=>"Max") %>
			</td>
			<td>
				<%= link_to "<img width='113' height='45' alt='Sign Up' src='images/btn_signupchart_large.png'/>", new_user_path(@user, :plan=>"Premium") %>
			</td>
			<td>
				<%= link_to "<img width='113' height='45' alt='Sign Up' src='images/btn_signupchart_large.png'/>", new_user_path(@user, :plan=>"Plus") %>
			</td>
			<td>
				<%= link_to "<img width='113' height='45' alt='Sign Up' src='images/btn_signupchart_large.png'/>", new_user_path(@user, :plan=>"Basic") %>
			</td>
		</tr>
		</tbody>
</table>
	
</div>
		<!-- END content -->