	<!-- BEGIN body -->
	<div id="body">
	
		
		
			<div id="content">
<h2>Privacy Policy</h2>

<p>India LD and its affiliates, parents companies, subsidiaries or sister companies (if applicable) (collectively "India LD") will not trade, sell, or disclose to any third party any form of subscriber identifiable information without the consent of the subscriber (except as required by subpoena, search warrant or other legal process or in the case where failure to disclose information will lead to imminent harm to the subscriber or others). This includes information derived from registration, subscription, and/or use of India LD's service.</p>

<h4>Customer Privacy</h4>

<p>India LD is the sole owner of the information collected on its web site and we will not sell, share or otherwise disclose your information in ways different form what is disclosed in this Statement.</p>

<h4>Collection / Use of Information</h4>

<p>India LD will collect and use subscriber identifiable information for billing, provisioning of service, resolution of problems associated with service, and to inform subscribers of new products or services that will enhance their India LD experience. India LD will use subscriber identifiable information to market products and services to the subscriber, but will not disclose or make available any subscriber identifiable information to any third parties seeking to market products. If a subscriber chooses, and notifies India LD in writing, not to participate in direct marketing of new products and services from India LD, then subscriber's information will not be used for the purpose of marketing new products. Additionally, the subscriber may request to have identifiable information deleted from India LD's directory.</p>

<h4>Accuracy</h4>

<p>We strive to maintain accurate and complete records. Should you believe that information is inaccurate or incomplete, you should notify us at info@India LD.com with your concerns and the accurate information.</p>

<h4>Security</h4>

<p>India LD maintains a variety of security measures to ensure the privacy of subscriber information on its network. India LD will continue to revise policies and implement additional security features as new technologies become available. However, Company cannot guarantee in any way that information provided to Company by subscriber may not be illegally obtained from Company.</p>

<h4>Communications</h4>

<p>India LD will not read, listen to or disclose to any third parties private e-mail, conversations, or other communications that are transmitted using India LD services, except as required to ensure proper operation of services or as otherwise authorized by law.</p>

<h4>Unlawful Activity</h4>

<p>India LD may use subscriber identifiable information to investigate and help prevent potentially unlawful activity or activities that threaten the integrity of service, the network integrity, that otherwise violate India LD's Service Agreements or activities that are or may be illegal.</p>

<h4>Account Information</h4>

<p>The subscriber is responsible for ensuring that the information on file with India LD is current and accurate.</p>

<h4>Children's Privacy Policy</h4>

<p>India LD does not sell products or services for purchase or use by children. India LD does not knowingly solicit or collect subscriber identifiable information from children or teenagers under the age of eighteen. In addition, India LD will not knowingly link to any third party web site that solicits or collects subscriber identifiable information from minors. If you believe that a minor has disclosed personally identifiable information to India LD, please contact India LD at info@India LD.com so that the information can be removed.</p>

<h4>India LD Spam Policy</h4>

<p>India LD has zero tolerance for spam. Spam complaints will be dealt with seriously and can result in losing India LD privileges.</p>
</div>			

			<div class="break"></div>
		
		</div>
		<!-- END content -->
	
	</div>
	<!-- END body -->