	<!-- BEGIN body -->
	<div id="body">
	
		
		
			<!-- BEGIN main -->
<div id="content">
	<h2>Terms of Service</h2>

<h4>YOU MUST READ THESE TERMS AND CONDITIONS BEFORE USING THIS SITE. Once you use the India ISD website, you are agreeing to be bound by the terms and conditions stated herein.</h4>

<h4>OUR MONEY BACK GUARANTEE:</h4>

<p>India ISD offers a hassle free 30-day money back guarantee from the date of activation of your Service. The money back guarantee applies only to the first-ordered line, not to additional or secondary lines. Under the terms of the Money-Back Guarantee, India ISD will refund the monthly charge for the first month of Service provided that:</p>

	<ol>
   <li>you have not exceeded 50 minutes of in-plan usage;</li>

   <li>you cancel your Service within the applicable period; and,</li>

   <li>you have not previously exercised the India ISD 30-day money back guarantee and obtained a refund from India ISD as a result of any other India ISD account.</li>
</ol>


<p>We reserve the right to terminate or revoke this money back guarantee at any time, without prior notice. The Money Back Guarantee will not be honored if the Customer fails to meet all above requirements. Money Back Guarantee does not apply to Calling Cards. All Calling cards provided on the web site are Non Refundable, Non Transferable and Non Exchangeable.</p>

<p>This agreement ("Agreement") is between India ISD ("we," "us" or "India ISD") and the user ("you," "user" or "Customer") of India ISD's communications services and any related services ("Service"). BY ENROLLING IN, ACTIVATING, USING OR PAYING FOR THE SERVICES, YOU ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTOOD AND AGREE TO ALL OF THE TERMS AND CONDITIONS IN THIS AGREEMENT, THAT YOU ARE OF LEGAL AGE, AND THAT YOU AGREE TO BE BOUND BY ALL TERMS HEREIN. IF YOU HAVE NOT READ AND UNDERSTOOD THIS ENTIRE AGREEMENT, AND DO NOT AGREE TO BE BOUND BY ITS TERMS, DO NOT USE THE SERVICES. YOU WILL BE BILLED FOR, AND RESPONSIBLE FOR PAYMENT FOR, ANY SERVICES YOU USE.</p>

<ol>
	<li><h4>SERVICE</h4>

<h4>1.1 Term</h4>
<p>Service is offered on a monthly basis for a term which begins on the date that India ISD activates your Service and ends on the day before the same date in the following month. Subsequent terms of this Agreement automatically renew on a monthly basis without further action by you unless you give India ISD written e-mail notice of non-renewal at least ten (10) days before the end of the monthly term in which the notice is given. You are purchasing the Service for full monthly terms, meaning that if you attempt to terminate Service prior to the end of a term, you will be responsible for the full term's charges to the end of the then-current term, including without limitation unbilled charges, plus a disconnect fee if applicable under the terms of this Agreement, all of which immediately become due, payable, and chargeable to your credit card. Expiration of the term or termination of Service does not excuse the Customer from paying all unpaid, accrued charges.</p>

<h4>1.2.1 Residential/ Non-Business Use</h4>
<p>If you have subscribed to India ISD's services, the Service is provided to you as a single usage user residential plan, for your own personal, residential, non-business use. This means that you agree not to use, and may not use, the Service for any commercial activities, governmental activities, profit-making activities, and/or non-profit activities, including but not limited to home office, business, sales, tele-commuting, tele-marketing, auto-dialing, continuous or extensive call forwarding, call relaying, fax broadcast, fax blasting and any other activity that would be inconsistent with normal residential usage patterns. This also means that you agree not to, and may not, sell, resell or transfer the Service to any other person for any purpose, or make any charge for the use of the Service, without prior express written permission from India ISD and/or You may not use the Service for auto-dialing, call center activities, continuous or extensive call forwarding, call relaying, telemarketing, fax broadcasting or fax blasting. You agree that if India ISD determines in its sole discretion that you have used the Service, and/or anyone else has used the Service for any activities and purposes prohibited by this section, or in any other manner prohibited by this Agreement, then, in addition to and without prejudicing or waiving any other remedies that it is entitled to, India ISD, may retroactively charge you $.05 per minute for all US and Canadian calls and $.25 per minute for all other international calls made since the activation of your account. Violations of this Section 1.2.1 regarding International calls will likewise be retroactively billed at the then current published rates. You agree that any payment made to India ISD pursuant to this section is made as liquidated damages and not as a penalty, because it would be difficult if not impossible to ascertain damages. In the event that India ISD has to take legal action to enforce the provisions of this section, the prevailing party shall be entitled to its reasonable expenses, including attorney's fees, regardless of whether in-house or outside counsel is employed.</p>

<h4>1.3 Prohibited Uses of Service</h4>
<p>You agree to use the Service only for lawful purposes. You agree not to use the Service for any unlawful purpose, including for example, using the Service in a way that: (1) interferes with our ability to provide Service to you or other customers; or, (2) avoids your obligation to pay for the Services. You also agree not to use the Service for transmitting or receiving any communication or material of any kind which would: (1) constitute a criminal offense, give rise to a civil liability, or otherwise violate any applicable local, state, national or international law, or, (2) encourage conduct that would constitute a criminal offense, give rise to a civil liability, or otherwise violate any applicable local, state, national or international law. India ISD reserves the right to terminate the Service immediately and without advance notice if India ISD, in its sole discretion, believes that you have violated the above restrictions, leaving you responsible for the full charges applicable to the end of the current term, including without limitation unbilled charges, plus a disconnect fee, all of which immediately become due, payable and chargeable to your credit card. If India ISD, in its sole discretion believes that you have violated the above restrictions, India ISD may forward the objectionable material, as well as your communications with India ISD and your personally identifiable information to the appropriate authorities for investigation and prosecution, and by using the Service you thereby consent to such forwarding.</p>

<h4>1.4 Use of Service by Customers Outside the United States</h4>
<p>India ISD allows use of the Service inside or outside of the United States. However, if you use it outside the United States you do so at your own risk, including but not limited to the risk that such activity violates the laws of the country where you do so, and/or violates the export laws of the United States and/or the import laws of that other country.</p>

<h4>1.7 Copyright / Trademark / Unauthorized Usage of Device, Firmware or Software</h4>
<p>The Service and any firmware or software used to provide the Service or provided to Customer in conjunction with providing the Service and all Services, information, documents and materials, including promotional or website language and all content on India ISD's website(s) are protected by trademark, copyright and/or other intellectual property laws and international treaty provisions and constitute private and/or confidential and/or the valued competitive business information of India ISD. All websites, corporate names, service marks, trademarks, trade names, logos, domain names and content (collectively "Marks") of India ISD are and shall remain the exclusive property of India ISD and nothing in this Agreement shall grant you the right or license to use such marks. You may not modify, reverse-engineer, disassemble, transcribe, store in a retrieval system, translate into any language or computer language, retransmit in electronic, mechanical or other means, or in any other manner publish, transmit, use, sell, exploit, and/or create new works from the content of India ISD's website, its marks or its Services.</p>

<h4>1.9 Theft of Service or Device</h4>
<p>You agree to notify India ISD immediately, in writing or by calling the India ISD customer support line, if you become aware at any time that your Service is being stolen or fraudulently used. When you call or write, you must provide your account number and a detailed description of the circumstances of the fraudulent use of Service. Failure to do so in a timely manner may result in the termination of your Service and additional charges to you. You will be liable for all use of the Service including all stolen Service or fraudulent use of the Service.</p>

<h4>1.11 Service Distinctions</h4>
<p>You acknowledge and understand that the Service is not a telephone service. Important distinctions exist between telephone service and the enhanced Service offering provided by India ISD. Some, but not all, of these distinctions are described in this Agreement. The Service is subject to different regulatory treatment than telephone service. This treatment may limit or otherwise affect your rights of redress before Federal and State telecommunications regulatory agencies or judicial forums.</p>

<h4>1.12 Service Changes</h4>
<p>India ISD may discontinue, change or suspend any aspect of its site and/or its service features at any time without notice or liability.</p>

<h4>1.13 No 900 Calls</h4>
<p>The Service does not permit calls to 900 or 976 numbers.</p>

<h4>1.14 No Operator Service</h4>
<p>The Service does not support calls to operator services.</p>

<h4>1.15 No Collect Calls</h4>
<p>The Service does not support collect calls.</p>

<h4>1.16 Directory Assistance</h4>
<p>You agree that calls to Directory Assistance (1-XXX-555-1212) excluding toll-free Directory Assistance (1-8---555-1212) will incur a US$0.79 per call charge</p>

<h4>1.17 Payphone Calls</h4>
<p>Calls made from payphones using any of our products/services will be subject to a surcharge of $0.80.</p>
</li>

<li><h4>INDEMNIFICATION</h4>
<p>THE TERM "India ISD" AS USED IN THIS SECTION SHALL MEAN US AND ALL OUR AFFILIATES (INCLUDING PARENT COMPANY, SUBSIDIARIES, SISTER COMPANIES, DBA'S AND ALL CORPORATE AFFILIATES), EMPLOYEES, DIRECTORS, OFFICERS, SERVANTS AND AGENTS AND ANY OTHER SERVICE PROVIDER THAT FURNISHES SERVICES TO YOU IN CONNECTION WITH THIS AGREEMENT OR THE SERVICE.</p>

<p>YOU ARE LIABLE FOR ANY AND ALL USE OF THE SERVICE BY YOURSELF AND BY ANY PERSON MAKING USE OF THE SERVICE, AND YOU AGREE TO DEFEND, INDEMNIFY AND HOLD HARMLESS India ISD AGAINST ANY AND ALL LIABILITY FOR ANY SUCH USE THAT FAILS TO COMPLY WITH THIS AGREEMENT. YOU AGREE TO DEFEND, INDEMNIFY AND HOLD HARMLESS India ISD FROM ANY AND ALL CLAIMS AND/OR LIABILITY FOR DAMAGES, PERSONAL INJURY, DEATH, FINES, PENALTIES, COSTS, EXPENSES, LOSSES, LOST PROFIT, LOST REVENUE, PROPERTY DAMAGE, ATTORNEYS' FEES, AND ANY AND ALL OTHER DAMAGES OF WHATEVER KIND AND NATURE RELATING TO OR ARISING OUT OF THE SERVICE, THE USE OF OR INABILITY TO USE THE SERVICE, THE ABSENCE, FAILURE OR OUTAGE OF THE SERVICE, THE INABILITY TO DIAL 911 OR E911 TO ACCESS EMERGENCY SERVICE PERSONNEL, THE INABILITY TO DIAL SECURITY, LAW ENFORCEMENT OR FIRE PREVENTION/ PROTECTION SERVICES OR SYSTEMS, AND/OR THIS AGREEMENT. THIS SECTION SHALL SURVIVE THE AGREEMENT.</p>
</li>
	
<li><h4>LIMITATION OF LIABILITY</h4>
<p>THE TERM "India ISD" AS USED IN THIS SECTION SHALL MEAN India ISD AND ITS AFFILIATES (INCLUDING PARENT COMPANY, SUBSIDIARIES, SISTER COMPANIES, DBA'S AND ALL CORPORATE AFFILIATES) , EMPLOYEES, DIRECTORS, OFFICERS, SERVANTS AND AGENTS AND ANY OTHER SERVICE PROVIDER THAT FURNISHES SERVICES TO YOU IN CONNECTION WITH THIS AGREEMENT.</p>

<p>IN NO EVENT SHALL India ISD BE LIABLE TO YOU OR ANYONE ELSE FOR ANY INCIDENTAL, DIRECT, INDIRECT, SPECIAL, PUNITIVE, EXEMPLARY, OR CONSEQUENTIAL DAMAGES, OR FOR ANY DAMAGES FOR LOSS OF DATA, LOSS OF REVENUE OR PROFITS, RELATING TO OR ARISING OUT OF THE SERVICE, THE USE OF OR INABILITY TO USE THE SERVICE, THE ABSENCE, DELAY, FAILURE OR OUTAGE OF THE SERVICE, THE INABILITY TO DIAL 911 OR E911 TO ACCESS EMERGENCY SERVICE PERSONNEL, THE INABILITY TO DIAL SECURITY, LAW ENFORCEMENT OR FIRE PREVENTION/ PROTECTION SERVICES OR SYSTEMS, AND/OR THIS AGREEMENT. NOR SHALL India ISD BE LIABLE FOR ANY DELAY OR FAILURE TO PROVIDE THE SERVICE, INCLUDING 911 DIALING, AT ANY TIME OR FROM TIME TO TIME, OR FOR ANY INTERRUPTION OR DEGRADATION OF VOICE QUALITY CAUSED BY ANY REASON INCLUDING BUT NOT LIMITED TO THE FOLLOWING: AN ACT OR OMISSION OF AN UNDERLYING CARRIER, SERVICE PROVIDER, VENDOR OR THIRD PARTY, EQUIPMENT, NETWORK OR FACILITY FAILURE OR UPGRADE, SERVICE, MAINTENANCE, MODIFICATION, SHORTAGE, OR RELOCATION, FORCE MAJEURE EVENTS, NETWORK OR FACILITY FAILURE CAUSED BY THE LOSS OF POWER OR INTERNET SERVICE TO India ISD OR CUSTOMER, AND ANY CAUSE THAT IS BEYOND India ISD'S CONTROL, INCLUDING WITHOUT LIMITATION THE FAILURE OF AN INCOMING OR OUTGOING COMMUNICATION, THE INABILITY OF COMMUNICATIONS TO BE CONNECTED OR COMPLETED, INCLUDING 911 DIALING, OR DEGRADATION OF VOICE QUALITY. India ISD SHALL NOT BE LIABLE FOR UNAUTHORIZED ACCESS TO India ISD'S OR CUSTOMER'S TRANSMISSION FACILITIES OR PREMISES, EQUIPMENT OR FOR UNAUTHORIZED ACCESS TO, OR ALTERATION, THEFT OR DESTRUCTION OF, CUSTOMER'S DATA FILES, PROGRAMS, PROCEDURES, OR INFORMATION THROUGH ACCIDENT, FRAUDULENT MEANS OR ANY OTHER METHOD, REGARDLESS OF WHETHER SUCH DAMAGE OCCURS AS A RESULT OF India ISD'S NEGLIGENCE OR OTHER ACTS OR OMISSIONS. India ISD'S LIABILITY FOR ANY ACT OR OMISSION SHALL IN NO EVENT EXCEED THE SERVICE CHARGES WITH RESPECT TO THE AFFECTED TIME PERIOD. THE LIMITATIONS SET FORTH HEREIN APPLY TO ALL CLAIMS FOUNDED IN BREACH OF CONTRACT, BREACH OF WARRANTY, PRODUCT LIABILITY, TORT, AND ANY AND ALL OTHER THEORIES OF LIABILITY, AND APPLY WHETHER OR NOT India ISD WAS INFORMED OF THE LIKELIHOOD OF ANY PARTICULAR TYPE OF DAMAGE. FURTHER, YOU AGREE TO REIMBURSE India ISD FOR ALL COSTS AND EXPENSES RELATED TO THE DEFENSE OF ANY SUCH CLAIMS, INCLUDING ATTORNEYS' FEES AND COSTS. THE PROVISIONS OF THIS SECTION SHALL BE APPLIED TO THE FULLEST EXTENT OF THE LAW, BUT IF ANY PORTION OF THIS SECTION IS DETERMINED TO BE UNLAWFUL, THEN THIS SECTION SHALL BE CONSTRUED TO LIMIT LIABILITY AGAINST India ISD TO THE FULLEST EXTENT POSSIBLE UNDER THE LAW. THIS SECTION SHALL SURVIVE THE AGREEMENT.</p>
</li>

<li><h4>WARRANTIES</h4>
<p>THE TERM "India ISD" AS USED IN THIS SECTION SHALL MEAN India ISD AND ITS AFFILIATES (INCLUDING PARENT COMPANY, SUBSIDIARIES, SISTER COMPANIES, DBA'S AND ALL CORPORATE AFFILIATES), EMPLOYEES, DIRECTORS, OFFICERS, SERVANTS AND AGENTS AND ANY OTHER SERVICE PROVIDER THAT FURNISHES SERVICES TO YOU IN CONNECTION WITH THIS AGREEMENT OR THE SERVICE.</p>

<p>India ISD MAKES NO EXPRESS OR IMPLIED WARRANTY REGARDING THE SERVICE AND DISCLAIMS ANY IMPLIED WARRANTY, INCLUDING ANY WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR PURPOSE. India ISD DOES NOT WARRANT THAT THE SERVICE WILL FUNCTION WITHOUT FAILURE, DELAY, INTERRUPTION, ERROR, DEGRADATION OF VOICE QUALITY OR LOSS OF CONTENT, DATA OR INFORMATION. India ISD DOES NOT AUTHORIZE ANYONE, INCLUDING BUT NOT LIMITED TO ITS EMPLOYEES, AGENTS OR REPRESENTATIVES, TO MAKE A WARRANTY OF ANY KIND ON ITS BEHALF AND YOU SHOULD NOT RELY ON ANY SUCH STATEMENT. CUSTOMER AGREES THAT IT ACCEPTS SERVICES HEREUNDER "AS IS" AND THAT CUSTOMER IS NOT ENTITLED TO REPLACEMENT OR REFUND IN THE EVENT OF ANY DEFECT. YOU ASSUME RESPONSIBILTY FOR ANY AND ALL USES OF THE SERVICE. THE PROVISIONS OF THIS SECTION SHALL BE APPLIED TO THE FULLEST EXTENT OF THE LAW, BUT IF ANY PORTION OF THIS SECTION IS DETERMINED TO BE UNLAWFUL, THEN THIS SECTION SHALL BE CONSTRUED TO LIMIT LIABILITY AGAINST India ISD TO THE FULLEST EXTENT POSSIBLE UNDER THE LAW.</p>
</li>
<li><h4>CHANGES TO THIS AGREEMENT</h4>
<p>India ISD may change the terms and conditions of this Agreement from time to time. Changes to this Agreement supersede all previously agreed to electronic and written Terms and Conditions. IF YOU CONTINUE TO BE ENROLLED IN, USE, OR PAY FOR THE SERVICES AFTER ANY CHANGES IN THE PRICES, CHARGES, AND/OR TERMS AND CONDITIONS HAVE BEEN MADE, YOU AGREE TO THE CHANGES. Notices will be considered given and effective on the date posted on the India ISD website at www.indiaisd.com</p>
</li>

<li>
<h4>CHARGES / PAYMENTS / DEFAULT / TAXES / TERMINATION</h4>


<h4>6.1 Billing</h4>
<p>You must give us a valid credit card number when the Service is activated. If the card expires, you close your account or your billing address changes, or the card is cancelled and replaced owing to loss or theft, you must advise India ISD the change in your credit card information. We will bill all charges monthly to your credit card, including but not limited to: monthly Service fees, deposits, applicable taxes, international usage charges, other service fees, etc.. India ISD reserves the right to bill at more frequent intervals if the amount due at any time exceeds US$25.00.</p>

<h4>6.1.1 "One Time Use" or Disposable Credit Cards</h4>
<p>India ISD strictly prohibits the use of "one time use" or disposable credit cards. If you use such a card to activate the India ISD Service and such use results in India ISD not being able to collect charges for the Service, you will be subject to a $500.00 fee as liquidated damages and not as a penalty, plus any reasonable in-house or outside counsel attorney's fees incurred by India ISD to collect such unpaid charges and liquidated damages.</p>

<h4>6.2 Billing Disputes</h4>
<p>You must notify India ISD in writing within seven (7) days after receiving your credit card statement or from the time funds are debited from any account you may have with us if you dispute any India ISD charges on that statement or that have been debited from your India ISD Master Account, or such dispute will be deemed waived. Notification of all billing disputes shall be sent to the following email address:</p>

<address>
Billing@indiaISD.com<br/>
</address>

<h4>6.3 Payment</h4>
<p>India ISD only accepts payments by credit card. Your initial use of the Service authorizes India ISD to charge all amounts due India ISD as stated in the Agreement on the credit card account number on file with India ISD, or on any other credit card provided by Customer if the original card expires or is replaced. This authorization will remain valid until 30 days after India ISD receives your written notice terminating India ISD's authority to charge your credit card. India ISD may terminate your Service at any time, in its sole discretion, if any charge to your credit card on file with India ISD is declined or reversed, if your credit card expires and you have not provided India ISD with a new valid and approved credit card, or in case of any other non-payment of account charges. Termination of Service for a declined or expired credit card, reversed charges or non-payment leaves you fully liable to India ISD for all charges accrued before termination and for costs incurred by India ISD to collect all monies owed by Customer, such as (but not limited to) collection costs and in house or outside attorneys' fees as defined is Section 1.2.1. India ISD may make billing adjustments for the Service retroactively for a period of one hundred eighty (180) calendar days after the date a Service is rendered if they are made within two (2) months of India ISD's receipt of any invoice for the payment of additional fees and charges imposed by law.</p>

<h4>6.4 Termination/Discontinuance of Service</h4>
<p>India ISD reserves the right to suspend or discontinue providing the Service generally, or to terminate your Service, at any time in its sole discretion. If India ISD discontinues providing the Service generally, or terminates or suspends your Service in its discretion without a stated reason, you will only be responsible for charges accrued through the date of termination, including a pro-rated portion of the final month's charges. If your Service is terminated or suspended for any stated reason, including without limitation violation of any terms of this Agreement or because of any improper use of our Service (such as, but not limited to, your attempts to hack, disrupt, or misuse the Service or your acts or omissions that violate any acceptable use policy of India ISD or of a third party provider to which India ISD is subject), you will be responsible for the full month's charges to the end of the current term, including without limitation unbilled charges, plus a disconnect fee if applicable, all of which immediately become due, payable and chargeable to your credit card.</p>

<h4>6.5 Reactivation/Continuance of Service</h4>
<p>If your suspended account's Service is resumed because you cured the violation, you will not receive a credit or refund for the period during which the Service was suspended or limited.</p>

<h4>6.6 Money Back Guarantee; Limitations and Conditions.</h4>
<p>As applies to Monthly Plans only: India ISD offers a hassle free 30-day money back guarantee from the date of activation of your Service. The money back guarantee applies only to the first-ordered line, not to additional or secondary lines. Under the terms of the Money-Back Guarantee, India ISD will refund the monthly charge for the first month of Service provided that:</p>

   <p>1. you have not exceeded 50 minutes of in-plan usage;</p>

   <p>2. you cancel your Service within the applicable period; and,</p>

   <p>3. you have not previously exercised the India ISD 30-day money back guarantee and obtained a refund from India ISD as a result of any other India ISD account.</p>

<p>We reserve the right to terminate or revoke this money back guarantee at any time, without prior notice. The Money Back Guarantee will not be honored if the Customer fails to meet all above requirements. As applies to Calling Cards: Money Back Guarantee does not apply to Calling Cards. All Calling cards provided on the web site are Non Refundable, Non Transferable and Non Exchangeable.</p>

<h4>6.7 Terms and Conditions for Credit Card Chargeback</h4>
Chargebacks through your credit card company are not considered a method of refunding. If you have any issues whatsoever with your services or charges reflected on your credit card statement you MUST contact India ISD and do all that is possible to resolve this directly with India ISD. It is further understood by you through this agreement with India ISD, India ISD has every intention and resources to resolve your issues in the fairest way possible while abiding by our Terms and Conditions. India ISD requires five business days to resolve any issues and it may take an additional five business days for any issued credits to appear on the customer’s credit card statement, if credits are issued. Customers who prematurely issue chargebacks prior to notifying India ISD, or do not wait five business days for resolution, are responsible for administration fees of $25.00 per chargeback.

<h4>6.8 Taxes</h4>
Customer is responsible for, and shall pay any applicable federal, state, municipal, local or other governmental sales, use, excise, Universal Service Fees, value-added, personal property, public utility and other taxes, fees and charges now in force or enacted in the future, that arise from or as a result of Customer's subscription or use or payment for the Service. Such amounts are in addition to payment for the Service and will be billed to your credit card. If Customer is exempt from payment of such taxes, it will provide India ISD with an original government-issued certificate attesting to tax-exempt status. Tax exemption will only apply from and after the date India ISD receives such certificate.
</li>

<li><h4>CONTENT</h4>
<p>You are liable for any and all liability that may arise out of the content transmitted by or to you or Users using the Services. You shall assure that your or User's use of the Services and content will at all times comply with all applicable laws, regulations and written and electronic instructions for use. India ISD reserves the right to terminate or suspend affected Services, and/or remove your or Users' content from the Services, if India ISD determines that such use or content does not conform with the requirements set forth in this Agreement or interferes with India ISD's ability to provide Services to you or others or receives notice from anyone that Your or Users' use or Content may violate any laws or regulations. India ISD's actions or inaction under this Section shall not constitute review or approval of your or Users' use or Content. You will indemnify and hold harmless India ISD against any and all liability arising from the content transmitted by or to you or to Users using the Services. A "User" means any person, whether authorized or unauthorized, using the Service.</p>
</li>

<li><h4>RESOLUTION OF DISPUTES BY BINDING ARBITRATION</h4>
<p>IT IS IMPORTANT THAT YOU READ THIS ENTIRE SECTION CAREFULLY. THIS SECTION PROVIDES FOR RESOLUTION OF DISPUTES THROUGH FINAL AND BINDING ARBITRATION BEFORE A NEUTRAL ARBITRATOR INSTEAD OF BY A JUDGE, JURY, OR CLASS ACTION LAWSUIT.</p>

<h4>8.1 Mandatory Binding Arbitration</h4>
<p>All disputes arising out of or related to this Agreement (directly and/or indirectly) and/or the Service (whether based in contract, tort, statute, fraud, misrepresentation, or any other legal or equitable theory) must be resolved by final and binding arbitration. The arbitration will be conducted by one arbitrator using the procedures described by this Section. If any portion of this Resolution of Disputes by Binding Arbitration Section is determined to be unenforceable, then the remainder shall be given full force and effect. The arbitration of any dispute shall be conducted in accordance with the American Arbitration Association's ("AAA") Supplementary Procedures for Consumer-Related Disputes, as modified by this Agreement, which are in effect on the date a dispute is submitted to the AAA. To the extent that such procedures differ from this Agreement, this Agreement shall govern to the fullest extent permitted by law. You have the right to be represented by counsel in an arbitration. In conducting the arbitration and making any award, the arbitrator shall be bound by and strictly enforce the terms of this Agreement and may not limit, expand, or otherwise modify its terms.</p>

<p>NO DISPUTE MAY BE JOINED WITH ANOTHER LAWSUIT, OR IN AN ARBITRATION WITH A DISPUTE OF ANY OTHER PERSON, OR RESOLVED ON A CLASS WIDE BASIS. THE ARBITRATOR MAY NOT AWARD DAMAGES THAT ARE BARRED BY THIS AGREEMENT AND MAY NOT AWARD PUNITIVE DAMAGES OR ATTORNEYS' FEES. YOU AND India ISD BOTH WAIVE ANY CLAIMS FOR AN AWARD OF DAMAGES THAT ARE EXCLUDED UNDER THIS AGREEMENT. In the event that a dispute arises out of this Agreement, the prevailing party shall be entitled to its reasonable expenses, including attorney's fees, regardless of whether in-house or outside counsel is employed. If in-house counsel is employed, billing shall be at the rate of $350.00 per hour and billed in six-minute increments.</p>

<h4>8.2 Arbitration Information and Filing Procedure</h4>
<p>Before you take a dispute to arbitration or to small claims court, you must first write to us at:</p>

<address>
India ISD<br/>
10833, Folsom Blvd #303<br/>
Rancho Cordova CA 95670<br/>
</address>
<p>
and give us an opportunity to resolve the dispute. Similarly, before India ISD takes a dispute to arbitration, we must first attempt to resolve it by contacting you. If the dispute cannot be satisfactorily resolved within thirty (30) days from the date you or India ISD is notified by the other of a dispute, then either party may contact the AAA in writing and request arbitration of the dispute. Information about the arbitration process and the AAA's Arbitration Rules and its fees are available on the Internet at www.adr.org, or by contacting us at billing@indiaISD.com. The arbitration will be based only on written submissions of the parties and the documents submitted to the AAA relating to the dispute, unless either party requests that the arbitration be conducted using the AAA's telephonic, online, or in-person procedures. Additional charges may apply for these procedures. Any in-person arbitration will be conducted at a location the AAA selects in Los Angeles County, Los Angeles, Ca . Arbitrations under this Agreement shall be confidential as permitted by federal law. However, by filing for arbitration, you may elect to relieve both parties to the arbitration of confidentiality obligations.</p>

<h4>8.3 Time for Filing Claims</h4>
<p>You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the Service or the Agreement must be filed with the AAA within one year after such claim or cause of action arose or be forever barred.
</p></li>
<li><h4>GOVERNING LAW</h4>
<p>This Agreement and the relationship between you and India ISD shall be governed by the laws of the State of California without regard to its conflict of law provisions.</p></li>

<li><h4>ENTIRE AGREEMENT</h4>
<p>This Agreement and any modifications to it pursuant to terms hereunder (which may occur at any time and without notice), and the rates for Services found on India ISD's website, constitute the entire agreement between you and India ISD and govern your use of the Service, superseding any prior agreements between you and India ISD and any and all prior or contemporaneous statements, understandings, writings, commitments, or representations concerning its subject matter.</p></li>

<li><h4>SEVERABILITY</h4>
<p>If any part of this Agreement is legally declared invalid or unenforceable, all other parts of this Agreement are still valid and enforceable. Such invalidity or non-enforceability will not invalidate or render unenforceable any other portion of this Agreement.</p></li>

<li><h4>PRIVACY</h4>
<p>India ISD Service utilizes, in whole or in part, the public Internet and third party networks to transmit voice and other communications. You acknowledge and understand that India ISD cannot guarantee that voice over IP communication is completely secure. You agree that India ISD may access all features of your account and the Services to determine whether the Services are being used fraudulently and/or in violation of this Agreement, and for any other purposes. YOU AGREE THAT India ISD SHALL NOT BE LIABLE FOR ANY LACK OF PRIVACY. Please refer to our Privacy Policy at www.indiaISD.com for additional information.</p></li>

<li><h4>ASSIGNMENT</h4>
<p>India ISD may assign all or part of its rights or duties under the Agreement without notifying you. If we do that, we have no further obligation to you. You may not assign the Agreement or the Service without our prior written agreement.</p></li>

<li><h4>NO THIRD PARTY RIGHTS</h4>
<p>No provision of this Agreement provides any person or entity not a party to this Agreement with any remedy, claim, liability, reimbursement, or cause of action or creates any other third party beneficiary rights.</p></li>

<li><h4>SURVIVAL</h4>
<p>The provisions of this Agreement relating to indemnification, limitations on liability, warranty limitations and disclaimers, resolution of disputes, billings and your obligation to pay for the Service provided and any additional usage charges, shall survive the termination of the Agreement and the termination of the Service.</p></li>

</ol>
Last Updated: October 11, 2007

* Significant restrictions apply to Unlimited Plans. Consult the Terms and Conditions for details. ** Unlimited Plans do not include calls to International Mobile Phone Numbers or to Special Services Numbers such as Toll-Free or Caller-Paid Information Services or 900 Numbers.

</div>			

			<div class="break"></div>
		
		</div>
		<!-- END content -->
	
	</div>
	<!-- END body -->