			<!-- BEGIN main -->
		<div id="content">
		
			<h2>Tour</h2>
			
			<div id="gallery">

			
			<a rel="lightbox[sample]" href="images/content/gallery/01.jpg"><img src="images/content/gallery/t_01.jpg" alt="image" /></a>
			<a rel="lightbox[sample]" href="images/content/gallery/02.jpg"><img src="images/content/gallery/t_02.jpg" alt="image" /></a>
			<a rel="lightbox[sample]" href="images/content/gallery/03.jpg"><img src="images/content/gallery/t_03.jpg" alt="image" /></a>
			<a rel="lightbox[sample]" href="images/content/gallery/04.jpg"><img src="images/content/gallery/t_04.jpg" alt="image" /></a>
			
			<a rel="lightbox[sample]" href="images/content/gallery/05.jpg"><img src="images/content/gallery/t_05.jpg" alt="image" /></a>
			<a rel="lightbox[sample]" href="images/content/gallery/06.jpg"><img src="images/content/gallery/t_06.jpg" alt="image" /></a>
			<a rel="lightbox[sample]" href="images/content/gallery/07.jpg"><img src="images/content/gallery/t_07.jpg" alt="image" /></a>
			<a rel="lightbox[sample]" href="images/content/gallery/08.jpg"><img src="images/content/gallery/t_08.jpg" alt="image" /></a>
			
			<a rel="lightbox[sample]" href="images/content/gallery/09.jpg"><img src="images/content/gallery/t_09.jpg" alt="image" /></a>

			<a rel="lightbox[sample]" href="images/content/gallery/10.jpg"><img src="images/content/gallery/t_10.jpg" alt="image" /></a>
			<a rel="lightbox[sample]" href="images/content/gallery/11.jpg"><img src="images/content/gallery/t_11.jpg" alt="image" /></a>
			<a rel="lightbox[sample]" href="images/content/gallery/12.jpg"><img src="images/content/gallery/t_12.jpg" alt="image" /></a>
			
			</div>
		
		</div>
		<!-- END main -->
		