<tr>
	<% form_for ([pinless_number.user, pinless_number]) do |f| %>
	<td><%= f.text_field :ani_or_phonenumber, :class=>"text", :size=>"23" %></td>
	<td><%= f.text_field :description, :class=>"text", :size=>"23" %></td>
	<td>
		<%= f.submit 'Update', :class => "button" %>
		<%= f.submit 'Delete', :class => "button" %>
	</td>
	<% end -%>
</tr>