<!-- BEGIN sidebar -->
<div id="sidebar">
	<div class="buffer">
	<h2>Pinless Dial Instructions</h2>
		<ul>
			<li>Your account can have pinless dialing for more than one phone number.</li>
			<li>Use the form above to add new phone numbers or manage existing numbers.</li>
			<li>Whenever you call in from the telephone number or IP address specified in this setting, you will be able to dial internationally without having to enter your account number.</li>
		</ul>
	</div>
</div>
<!-- END sidebar -->