<!-- BEGIN main -->
<div id="main">
	<h2>Pinless Dial Manager</h2>
<p>Description of the pinless dial feature goes here</p>
	<div id="form">
		<table width="100%">
			<tr>
				<th>Phone number</th>
				<th>Description</th>
				<th></th>
			</tr>
			<%= render :partial => 'pinless_number', :collection => @pinless_numbers %>
		</table>
		<%= link_to 'Add new entry', :action => 'new' %>		
	</div>
</div>
<!-- END main -->

<%= render :partial => 'sidebar' %>
