<!-- BEGIN main -->
<div id="main">
	<h2>Speed Dial Manager</h2>
	<div id="form">
		<table width="100%">
			<tr>
				<th>Entry</th>
				<th>Destination</th>
				<th>Description</th>
				<th></th>
			</tr>	
			<%= render :partial => 'speeddial_number', :collection => @speeddial_numbers %>
		</table>
		<%= link_to 'Add new entry', :action => 'new' %>		
	</div>
</div>
<!-- END main -->

<%= render :partial => 'sidebar' %>
